<div class="container color-dark">

    <div class="col">
        <p>Updox Prime Number Generator</p>
    </div>
    <div class="colist">
        <p>Your Prime Number List Item:

            <b>click item to delete</b>
        </p>
    </div>
</div>

<div class="container color-light" [@allPrimeList]='allPrimeList.length'>

    <div class="col">
        <h3>Startig Number</h3>
        <input type="number" aria-label="number" [(ngModel)]="startingNumber" />
        <h3>Ending Number</h3>
        <input type="number" aria-label='number' [(ngModel)]="endingNumber" min="0"/>
        <p class="sm">generate all the prime number within the range</p>
        <form >
            <input type="button" class="btn" value="{{btnText}}" (click)="generatePrimes()">
        </form>
    </div>
    <div class="colist">
        <p class="life-container" *ngFor="let goal of allPrimeList; let i = index"
        (click)="removeItem(i)">
    {{goal}}
    </p>
    </div>
</div>