<div class="container color-dark">
    <!-- <div><img src="../../assets/images/LOGO.png" alt="LOGO" style="width:30%; height:30%"> </div> -->

    <div class="col">
        <p>Rocket Return Score Generator</p>
    </div>
    <div class="colist">
        <p>Customer Scores List:

            <b>click item to delete</b>
        </p>
    </div>
</div>

<div class="container color-light" [@allPrimeList]='allPrimeList.length'>

    <div class="col">
        <h3>Customer Name Look Up</h3>
        <input type="text" [(ngModel)]="customerName" />
        <!-- <input type="text"  /> -->
        <h3>Ending Number</h3>
        <!-- <input type="number" aria-label='number' [(ngModel)]="endingNumber" min="0"/> -->
        <!-- <p class="sm">generate all the prime number within the range</p> -->
        <p class="sm">generate customers RR score</p>
        <form >
            <input type="button" class="btn" value="{{btnText}}" (click)="generatePrimes()">
        </form>
    </div>
    <div class="colist">
        <p class="life-container" *ngFor="let goal of allPrimeList; let i = index"
        (click)="removeItem(i)">
    {{goal}}
    </p>
    </div>
</div>